@using ChanBoardModernized.Shared.Components.DTOs
@using System.Globalization
@using ChanBoardModernized.Shared.Helpers

@if(IsFirstComment)
{
    <div>
        <span>
            File: <span class="temp-filename-style">@FrontendHelperFunctions.FormatFileName(longString)</span> (324 KB, 1254X1254)
        </span>
    </div>
}

<div class="outer-container">

    @if(!IsFirstComment)
    {
        <span class="reply-symbol">>></span>
    }
    else
    {
        <span class="image-container">
            <img src="/images/placeholder.png" class="post-image" />
        </span>
    }
    <div class="@(IsFirstComment ? "op-container" : "post-container")">
    
        <!-- Top Level details -->
        <div class="top-level-details">
            <CheckboxInput @bind-Value="IsSelected"/>
            @if (IsFirstComment)
            {
                if(!string.IsNullOrWhiteSpace(ThreadTitle))
                {
                    <span class="thread-title">
                        @ThreadTitle
                    </span>
                }
                <span class="thread-title">
                    @CommentDTO.Title 
                </span>
            }
            <span class="user-name">
                @if(string.IsNullOrWhiteSpace(CommentDTO.Author))
                {
                    <b>Anonymous</b>
                }
                else
                {
                    <b>@CommentDTO.Author</b>
                }
            </span>
            <span class="date-time">
                @CommentDTO.CreatedAt.ToLocalTime().ToString("MM/dd/yy(ddd)HH:mm:ss", CultureInfo.InvariantCulture)
            </span>
            <span>
                    No.@CommentDTO.PostDigits.ToString("D9")
            </span>
            <Icon Name="IconName.CaretRightFill"/>
        </div>

        <!-- file details -->
        <div>
            @if(CommentDTO.PhotoID != Guid.Empty && !IsFirstComment)
            {
                <span> 
                    File: <span class="temp-filename-style">@FrontendHelperFunctions.FormatFileName(longString)</span> (324 KB, 1254X1254)
                </span>
            }
        </div>

        <!-- post contents -->
        <div class="@(IsFirstComment ? "op-body" : "comment-body")">
            @if (CommentDTO.PhotoID != Guid.Empty && !IsFirstComment)
            {
                <span class="image-container">
                    <img src="/images/placeholder.png" class="post-image" />
                </span>
            }
            <span class="comment-text">
                @CommentDTO.Content
            </span>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public CommentDTO CommentDTO { get; set; } = null!;
    [Parameter]
    public bool IsFirstComment { get; set; }
    [Parameter]
    public bool IsOP { get; set; }
    [Parameter]
    public bool showTestImage { get; set; } = false;
    [Parameter]
    public string ThreadTitle { get; set; } = string.Empty;

    private bool IsSelected = false;

    private string longString = "Some-long-file-name-where-people-type-too-much.png";
}
